<h1>New Club</h1>

<script>
var vacancy = new Array();
var numOfHashTag = 0;

function addHashTag(event) {
  if(numOfHashTag > 4) {
    // alert -> can't exceed 5 tags
  } else {

    if(event.keyCode == 13) {
      var value = document.getElementById('hashText').value;
      var buff = document.getElementById('hashtagBuff').value;

      for(var i = numOfHashTag ; i < 5 ; i++) {
        if(!vacancy[i]) {
          document.getElementById("hashTagContainer")
          .innerHTML += "<button id=btn_" + i + " onclick=deleteHashTag(event)>"
          + value + "</button>";
          numOfHashTag++; vacancy[i] = 1;
          break;
        }
      }

      if(buff.length == 0) {
        document.getElementById('hashtagBuff').value += value;
      }
      else {
        document.getElementById('hashtagBuff').value += "," + value;
      }

      // empty text box
      // blank(empty), space and started with #, parsing, comma, same tag
      document.getElementById('hashText').value = "";
    }
  }
}

function deleteHashTag(event) {
  var btnId = event.target.id; // a string
  var idx = btnId.replace(/\D/g, '');
  idx = parseInt(idx);

  // console.log(event);
  // only when there are hashtags
  if(numOfHashTag > 0) {
    var btnToRemove = document.getElementById(btnId);
    var comma = (document.getElementById('hashtagBuff')
    .value.match(/,/g) || []).length

    // remove button
    btnToRemove.remove(btnToRemove.selectedIndex);

    numOfHashTag--;

    // change button number following removed button
    for(var i  = 0 ; i < numOfHashTag - idx ; i++)
      assignId( (idx + 1) + i , btnId);

    tmp = document.getElementById('hashtagBuff').value.split(",");
    tmp.splice(idx, 1);
    console.log("aaaa : " + tmp);
    //subtract

    document.getElementById('hashtagBuff').value = "";

    if(comma)
      document.getElementById('hashtagBuff').value = tmp[0];

    for(var i = 0 ; i < comma - 1 ; i++){
      document.getElementById('hashtagBuff').value += "," + tmp[i + 1];
      console.log(tmp);
    }
    vacancy[numOfHashTag] = 0; // -> must be modified
  }
}
// btnid = event.target.id
function assignId(nextIdNumber, btnId){
  var nextIdNumberStr = nextIdNumber.toString();
  var nextId = btnId.replace(/[0-9]/, nextIdNumberStr);

  document.getElementById(nextId).id =
  document.getElementById(nextId).id.replace(/[0-9]/, (nextIdNumber - 1).toString());
}

</script>



<!--  -->



<%= form_with(model: @club, local: true) do |form| %>
  <% if @club.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@club.errors.count, "error") %> prohibited this @club from being saved:</h2>

      <ul>
      <% @club.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :desc %>
    <%= form.text_area :desc %>
  </div>

  <!-- hidden type input tag to pass the hashtag value without user's intervention-->
  <input id="hashtagBuff" type="hidden" name="hashTags">
  <!-- hidden -->


  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>


<!--  -->



<input id="hashText" type="text" placeholder="#HashTag" onKeyDown="addHashTag(event);">

<!-- Hashtag Container Start -->
<div id="hashTagContainer"> </div>
<!-- Hashtag Container End -->

<br/>
<%= link_to 'Back', clubs_path %>
