<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @club.name %>
</p>

<p>
  <strong>Desc:</strong>
  <%= @club.desc %>
</p>

<p>
  <strong>
    <% @club.hashtags.each do |tuple| %>
      <%= link_to tuple['hashtag'], hashtag_path(:id => tuple['id']) %>   &nbsp;
    <% end %>
  </strong>
</p>


<%= link_to 'Edit', edit_club_path(@club) %> |
<%= link_to 'Back', clubs_path %>
